# Environnement
.env
*.db
*.db-journal
*.db-shm
*.db-wal

# PyCharm
.idea/

# Python
__pycache__/
*.py[cod]
.venv/
.pytest_cache/
dist/
build/
*.egg-info/

# Logs
*.log

contexts/
.claude/

reset_db.py